.m_lead-carousel
  .tp-banner
    ul
      li(data-transition='fade', data-slotamount='1', data-masterspeed='100')
        // Background
        img(src='images/content/carousel-lead/1.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        .container-fluid
          // Layer #1
          .tp-caption.skewfromrightshort.fadeout.slide-title(data-x='0', data-y='50', data-speed='500', data-start='1000', data-easing='Power4.easeOut')
            .title: span Комплексная поддерживающая уборка
          // Layer #2
          .tp-caption.fadeout.buy(data-x='0', data-y='165', data-speed='1000', data-start='1500', data-easing='Power4.easeOut')
            .desc Поддерживающая уборка придаст помещению чистоту и свежесть. Особенно эта услуга актуальна в осенне-весеннее время, когда грязь с улицы на обуви разносится по всему помещению. Зимой регулярная уборка также полезна, так как из-за повышенной сухости воздуха в нём содержится больше пыли, которая оседает на любых поверхностях.
            .bonus 7 дней уборки бесплатно
          // Layer #3
          .tp-caption.fadeout.action(data-x='0', data-y='bottom', data-voffset="-120", data-speed='1000', data-start='2000', data-easing='Power4.easeOut')
            a(class="details" href="#") Подробнее
      li(data-transition='fade', data-slotamount='1', data-masterspeed='100')
        // Background
        img(src='images/content/carousel-lead/1.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
        .container-fluid
          // Layer #1
          .tp-caption.skewfromrightshort.fadeout.slide-title(data-x='0', data-y='50', data-speed='500', data-start='1000', data-easing='Power4.easeOut')
            .title: span Комплексная поддерживающая уборка
          // Layer #2
          .tp-caption.fadeout.buy(data-x='0', data-y='165', data-speed='1000', data-start='1500', data-easing='Power4.easeOut')
            .desc Поддерживающая уборка придаст помещению чистоту и свежесть. Особенно эта услуга актуальна в осенне-весеннее время, когда грязь с улицы на обуви разносится по всему помещению. Зимой регулярная уборка также полезна, так как из-за повышенной сухости воздуха в нём содержится больше пыли, которая оседает на любых поверхностях.
            .bonus 7 дней уборки бесплатно
          // Layer #3
          .tp-caption.fadeout.action(data-x='0', data-y='bottom', data-voffset="-120", data-speed='1000', data-start='2000', data-easing='Power4.easeOut')
            a(class="details" href="#") Подробнее