html
  position relative
  min-height 100%
body
  font-size 16px
  line-height 1.2
  background #fff
  margin-bottom $footerMobile + 30
  font-family: 'Exo 2 Condensed'
  font-weight 400
  @media SM
    margin-bottom $footer + 30
footer
  height $footerMobile
  @media SM
    height $footer
section
  padding 30px 0
  @media SM
    padding 50px 0
.container-fluid
  max-width 1200px