// Layout
$wrapper = 1200px
$footer = 605px
$footerMobile = 270px

$sprite = 200px 200px

// Custom
$radius = 5px

// Colors
$yellow = #fdc731
$link = #0062a5
$heading = #061d3f
$background = #f7f7f7
$border = #ececec
$button = #d41a2f
// Text
$text-muted = gray
$text-fail = red
$text-success = green
$text-warning = yellow
// Links
$link = #2f6f9f
$link-hover = #563d7c
$link-visited = #c7254e



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
