extends ../modules/layout/layout.jade

block title
  title Вакансии

block content
  main
    .container-fluid
      .m_breadcrumbs
        .section
          a(href="#") О компании
        ul
          li: a(href="#") Наша команда
          li: a(href="#") Истории клиентов
          li.current: a(href="#") Вакансии
          li: a(href="#") Контакты
      article
        h2.heading Вакансии
      .row
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.
        .col-xs-12.col-sm-6
          .m_job
            .title: a(href="#") Помощник специалиста по охране труда
            .price до 100 000 руб.
            .desc Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда. <br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.