extends ../modules/layout/layout.jade

block title
  title Услуги

block content
  main
    .container-fluid
      .m_breadcrumbs
        .section
          a(href="#") Услуги
      article
        h2.heading Услуги
        .m_services
          .row
            .col-xs-12.col-sm-6
              .item
                .row
                  .col-xs-5.col-sm-5
                    .image(style="background-image: url('images/services/1.jpg')")
                  .col-xs-7.col-sm-7
                    nav
                      p Обслуживание зданий и сооружений
                      ul
                        li: a(href="#") Комплексная поддерживающая уборка
                        li: a(href="#") Генеральная уборка
                        li: a(href="#") Послестроительная уборка
                        li: a(href="#") Мойка фасадов, витражей, окон
                        li: a(href="#") Обеспечение расходными материалами сан. зон
                        li: a(href="#") Разработка и внедрение систем грязезащиты
            .col-xs-12.col-sm-6
              .item
                .row
                  .col-xs-5.col-sm-5
                    .image(style="background-image: url('images/services/2.jpg')")
                  .col-xs-7.col-sm-7
                    nav
                      p Обслуживание территорий
                      ul
                        li: a(href="#") Генеральная уборка территорий
                        li: a(href="#") Поддерживающая уборка, лето/зима
                        li: a(href="#") Вывоз снега
                        li: a(href="#") Вывоз ТБО
            .col-xs-12.col-sm-6
              .item
                .row
                  .col-xs-5.col-sm-5
                    .image(style="background-image: url('images/services/3.jpg')")
                  .col-xs-7.col-sm-7
                    nav
                      p Специализированные работы
                      ul
                        li: a(href="#") Химическая чистка ковровых покрытий
                        li: a(href="#") Химическая чистка текстильных поверхностей, мебели
                        li: a(href="#") Нанесение полимерных покрытий
                        li: a(href="#") Шлифовка/Полировка искуственных и натуральных поверхностей
                        li: a(href="#") Кристализация мраморных полов
                        li: a(href="#") Глубокая чиста пола
            .col-xs-12.col-sm-6
              .item
                .row
                  .col-xs-5.col-sm-5
                    .image(style="background-image: url('images/services/4.jpg')")
                  .col-xs-7.col-sm-7
                    nav
                      p Клининговый консалтинг
                      ul
                        li: a(href="#") Консультирование
                        li: a(href="#") Организация службы клининга
                        li: a(href="#") Аудит
                        li: a(href="#") Обучение персонала
                        li: a(href="#") Побор персонала в сфере клининга
                        li: a(href="#") Оптимизация расходов