extends ../modules/layout/layout.jade

block title
  title Услуги

block content
  main
    .container-fluid
      .m_breadcrumbs.services-bc
        .section
          a(href="#") Услуги
          br
          .show-all-bc Показать всё
        ul.services-list
          li
            ul
              li: a(href="#") Комплексная поддерживающая уборка
              li: a(href="#") Генеральная уборка
              li: a(href="#") Послестроительная уборка
          li: a(href="#") Мойка фасадов, витражей, окон
          li: a(href="#") Обеспечение расходными материалами сан. зон
          li: a(href="#") Разработка и внедрение систем грязезащиты
          li: a(href="#") Химическая чистка ковровых покрытий
          li: a(href="#") Химическая чистка текстильных поверхностей, мебели
          li: a(href="#") Нанесение полимерных покрытий
          li: a(href="#") Шлифовка/Полировка искуственных и натуральных  поверхностей
          li: a(href="#") Кристализация мраморных полов
          li: a(href="#") Глубокая чиста пола
          li: a(href="#") Генеральная уборка территорий
          li: a(href="#") Поддерживающая уборка, лето/зима
          li: a(href="#") Вывоз снега
          li: a(href="#") Вывоз ТБО
          li: a(href="#") Консультирование
          li: a(href="#") Обучение персонала
          li: a(href="#") Организация службы клининга
          li: a(href="#") Аудит
          li: a(href="#") Побор персонала в сфере клининга
          li: a(href="#") Оптимизация расходов
    section.m_lead-preview
      .container-fluid
        .image(style="background-image: url(images/content/carousel-lead/1.jpg)")
        .title: span Комплексная поддерживающая уборка
        .desc Поддерживающая уборка придаст помещению чистоту и свежесть. Особенно эта услуга актуальна в осенне-весеннее время, когда грязь с улицы на обуви разносится по всему помещению. Зимой регулярная уборка также полезна, так как из-за повышенной сухости воздуха в нём содержится больше пыли, которая оседает на любых поверхностях.
        .bonus 7 дней уборки бесплатно
        a(class="details popup-with-zoom-anim" href="#onlineOrder") ОНЛАЙН ЗАЯВКА
    article
      .container-fluid
        h2.heading Заголовок описания услуги
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
        .row
          .col-xs-6.col-sm-4
            img(src="images/content/articles/1.jpg", alt="")
          .col-xs-6.col-sm-4
            img(src="images/content/articles/2.jpg", alt="")
          .col-xs-6.col-sm-4.hidden-xs
            img(src="images/content/articles/1.jpg", alt="")
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
    section.m_pluses
      .container-fluid
        .heading.center Наши преимущества
        .list
          -
            var pluses = [
              {src: 'images/pluses/1.png', desc: 'Страхование ответственности'},
              {src: 'images/pluses/2.png', desc: 'Школа обучения персонала'},
              {src: 'images/pluses/3.png', desc: 'Современное оборудование и технологии уборки'},
              {src: 'images/pluses/4.png', desc: 'Отсрочка платежа до 180 дней (аккредитив)'},
              {src: 'images/pluses/5.png', desc: 'Собственный рекрутинг'}
            ]
          each post in pluses
            .item
              .image: img(src="#{post.src}" alt="")
              .desc #{post.desc}
    section.m_full
      .container-fluid
        p Мы обслуживаем более <b>7 689</b> клиентов
    article
      .container-fluid
        h2.heading Заголовок описания услуги
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
        .row
          .col-xs-6.col-sm-4
            img(src="images/content/articles/1.jpg", alt="")
          .col-xs-6.col-sm-4
            img(src="images/content/articles/2.jpg", alt="")
          .col-xs-6.col-sm-4.hidden-xs
            img(src="images/content/articles/1.jpg", alt="")
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены
    section.m_steps
      .container-fluid
        h2.heading.no-line Как мы работаем
        .list
          .item
            .image: img(src="images/steps/1.png" alt="")
            .desc Отправьте заявку
          .item
            .image: img(src="images/steps/2.png" alt="")
            .desc Мы перезвоним и уточним детали
          .item
            .image: img(src="images/steps/3.png" alt="")
            .desc Оценим стоимость работ
          .item
            .image: img(src="images/steps/4.png" alt="")
            .desc Зафиксируем сроки выполнения
          .item
            .image: img(src="images/steps/5.png" alt="")
            .desc Выполним работы в удобное для вас время
    section.m_hook
      .container-fluid
        .heading.no-line.white Отправьте заявку на клининговые услуги
        form
          .row
            .col-xs-12.col-sm-4
              input(class="input" type="text" placeholder="Ваше имя")
            .col-xs-12.col-sm-4
              input(class="input" type="tel" placeholder="Ваш телефон")
            .col-xs-12.col-sm-4
              input(class="input" type="email" placeholder="E-mail")
          .row
            .col-xs-12.col-sm-8
              textarea(placeholder="Дополнительная информация")
            .col-xs-12.col-sm-4
              .file-upload
                label
                  input(type="file")
                  .label-button Загрузить файл
                .upload-status Файлы не добавлены
          .row
            .col-xs-12.col-sm-12
              input(class="submit button" type="submit" value="Отправить заявку")
    section.m_guaranteed
      .container-fluid
        .heading.center.no-line Гарантируем качество
        p Все виды работ осуществляются согласно стандартам качества
        .list
          .item
            .image: img(src="images/guaranteed/1.png" alt="")
            .desc Евро-стандарт<br>ISO 9001
          .item
            .image: img(src="images/guaranteed/2.png" alt="")
            .desc Стандарт<br>Green Seel
          .item
            .image: img(src="images/guaranteed/3.png" alt="")
            .desc ГОСТ Р 51870—2014<br>«Услуги профессиональной уборки»
    section.m_clients
      .top
        .container-fluid
          .heading.arrows Наши клиенты
          .clients-carousel-nav
      .bottom
        .container-fluid
          .clients-carousel
            -
              var clients = [
                {src: 'images/content/clients/1.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/2.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/3.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/4.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/3.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/2.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' },
                {src: 'images/content/clients/3.jpg', desc: 'Провели генеральную уборку помещений на Международном юридическом форуме Санкт- Петербурга.' }
              ]
            each post in clients
              .slide
                .image: img(src="#{post.src}" alt="")
                .desc #{post.desc}
                .options
                  .time <b>2 года</b> сотрудничества
                  .square <b>21 850 м<sup>2</sup></b> убираемых площадей