extends ../modules/layout/layout.jade

block title
  title Команда

block content
  main
    .container-fluid
      .m_breadcrumbs
        .section
          a(href="#") О компании
        ul
          li.current: a(href="#") Наша команда
          li: a(href="#") Истории клиентов
          li: a(href="#") Вакансии
          li: a(href="#") Контакты
      article
        h2.heading Наша команда
        p.lead Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло
      .row
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/1.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/2.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/3.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/4.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/5.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
        .col-xs-12.col-sm-6
          .m_teammate
            .image(style="background-image: url('images/content/about/team/6.jpg')")
            .name Тибогайкин Иннокентий Константинович
            .status <span>Должность:</span> Директор
            .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.