doctype html
html(lang="ru").no-js
  head
    block title
      title Default title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    link(href="https://fonts.googleapis.com/css?family=Exo+2:300,400&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.min.css")
  body
    include ../header/m_header
    block content
    include ../footer/m_footer
    include ../popups/popups
    // JS
    script(src="js/modernizr.js")
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")