.m_full
  background #0063a6
  color #fff
  text-align center
  font-size 32px
  font-weight 500
  margin-bottom 30px
  @media SM
    font-size 48px
  p
    margin-bottom 0
  b
    background #d41a2f
    padding 0 10px