.m_pluses
  background #f0f5f8
  @media MD
    padding-bottom 100px
  .list
    text-align center
  .item
    display inline-block
    vertical-align top
    width 49%
    @media XS
      width 32%
    @media SM
      width 19%
    .image
      height 110px
      line-height 110px
    .desc
      font-size 18px
      font-weight 300
      @media MD
        font-size 24px

article + .m_pluses
  margin-top 30px