#sitemap
  position relative
  background #fff
  padding 20px
  max-width 96%
  margin 70px auto
  .mfp-close
    font-weight 300
    font-family: 'Exo 2 Condensed'
    font-size 50px
    opacity .2
    &:hover
      opacity 1
  nav
    padding-bottom 30px
    li
      & + li
        margin-top 10px
    a
      color #0062a5
      font-size 18px
      font-weight 300
      &:hover
        color #000
        text-decoration none
    p
      font-size 20px
      font-weight 500
      color #000
      margin-bottom 10px
  .title
    position relative
    font-size 28px
    font-weight 500
    padding-bottom 15px
    margin-bottom 15px
  .main-sections
    margin-bottom 30px
    nav
      padding-bottom 0
    .title
      &:after
        content ''
        width 70px
        height 3px
        background $yellow
        position absolute
        left 0
        bottom 0
  .secondary-sections
    .title
      border-bottom 3px solid $yellow
