.m_guaranteed
  p
    text-align center
    font-size 24px
    font-weight 300
  .list
    text-align center
  .item
    display inline-block
    vertical-align top
    width 100%
    margin-bottom 25px
    @media XS
      width 32%
    @media SM
      width 32%
    @media MD
      width 24%
    .image
      height 174px
      line-height 174px
      img
        max-width 100%
    .desc
      font-size 18px
      font-weight 300
      padding 0 10px
      @media MD
        font-size 24px
        padding 10px